@charset "UTF-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    border-width: 1px;
}

html{
    width: 1280px;
    background-color: #000C16;
}

body{
    width: 100%;
} 

/*----CABECERA----*/
#cabecera{
    overflow: hidden;
    text-align: center;
}

.opciones, #logo{
    min-height: 50px;      /*110 porque tiene 20 paddingtop y bottom*/
    float: left;
    background-color: white;
    padding: 1.5625%; /*20px*/
}

.opciones:hover{
    background-color:#2988AD ;
    cursor: pointer;
}

#logo{
    width: 20.3125%;       /*260 porque tiene 20ppading left y right*/
    background-image: url('https://media.istockphoto.com/id/1341681278/vector/two-hands-the-concept-of-protecting-anything-vector-illustration-interconnection.jpg?s=612x612&w=0&k=20&c=QZmkMdTLOVyzaPi-SgvHy0KNa8cC47wl0b3mfPyxsM0=');
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.opciones{
    width: 16.015625%;   /*205px de 1280*/
}


/*-----CUERPO-----*/
#cuerpo{
    overflow: hidden;
}

#cuerpo >div{
    float: left;
}


/*---IMAGEN---*/
#imagen{
    width: 23.4375%; /*300px*/
    min-height: 900px;
    background-image: url('https://images.unsplash.com/photo-1555412654-72a95a495858?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/*----DATOS FORMULARIO----*/
#datos{
    padding: 6.25%; /*80px de 1280 */
    width: 64.0625%; /*820width+80+80 total 980 de */
    background-color: #BFD9E3;
    min-height: 740px;
    text-align: center;
}

#datos form  label{
    display: inline-block;
    text-align: left;
}

/*---INPUT---*/
#datos form >input, #datos form >textarea, #dirigido, #categoria{
    margin-top: 3.65853659%;    /*30px de 820*/
}
/*---LABEL---*/
#labelNombre, #labelDesc, #labelOpciones, #labelDirigido, #labelCategoria{
    width: 36.4963504%; /*300px de 820px+2px del borde*/
}

#nombre, #descripcion, #publiopciones, #dirigido, #categoria{
    width: 56.9343066%; /*468 de 820+2      468 + 2 pixeles de borde total 470*/
    font-size: 1em;
    margin-left: 6.08272506%; /*50px de 820+2*/
}


#labelDesc{
    vertical-align: top;        /*para que quede a la misma altura que el textarea*/
    margin-top: 3.65853659%;   /*30px*/
}

/*---OPCIONES---*/
div#publiopciones{
    margin-top: 3.65853659%; /*30px*/
    display: inline-block;
    text-align: left;
}

#labelPublicadaNo{
    margin-left: 21.4592275%;     /* 100px de 466 Separamos los dos radiobutton*/
}

/*----FECHA INSCRIPCION Y REALIZACION----*/

#inscripcion, #realizacion{
    border: 2px solid black;
    width: 41.1835749%; /*341px de 820+8 Total 385=341+2borde+2borde+20padding+20padding*/
    float: left;
    padding: 2.41545894%; /*20px de 820*/
    margin-top: 3.65853659%;
}

#inscripcion >h3, #realizacion>h3{
    min-width: 67.4486804%; /*230 de 341*/
    text-align: center;
    margin: auto;
}

#inscripcion label, #realizacion label{
    width: 38.1231672%;   /*130 de 341*/
}

#inscripcion input, #realizacion input{
    margin-top: 5.86510264%;   /*20px de 341*/
    width: 54.8387097%; /*187 de 341 Total 191=187+2borde+2borde*/
    text-align: center;
    margin-left: 5.86510264%;
}

#realizacion{
    margin-left: 6.09756098%;  /*50px de 820 */
}

/*----BOTONES----*/

.boton{
    width: 28.0487805%; /*230 de 820  Total 250=230+10 padding+10 pading*/
    padding: 1.2195122%;    /*10 de 820*/
    margin-top: 7.31707317%;       /*60px de 820*/
    border: 0;
    transition: 0.8s;
}
.boton:hover{
    cursor: pointer;
}

#borrar{
    background-color: #CC6063;
    margin-right: 3.04878049%; /*25px de 820*/
}

#borrar:hover{
    background-color: #CC2D2D;
}

#aceptar{
    background-color: #68DEAB;
    margin-left: 3.04878049%; /*25px de 820*/
}
#aceptar:hover {
    background-color: #1BE38D;
}

/* --------------MEDIAQUERY---------------- */
@media  screen and (max-width: 800px) {
    #imagen{
        width:100%;
        min-height: 150px;
    }
    #datos{
        width: 87.5%; /*87.5 + 6.25+6.25=100%*/
    }
    
    /*----FECHA INSCRIPCION Y REALIZACION----*/

    #inscripcion, #realizacion{
        width: 95.17%; /*95.17+2.41+2.41=100*/
        float: left;
        padding: 2.41545894%; /*20px de 820*/
        margin-top: 3.65853659%;
    }

    #realizacion{
        margin-left: 0;
    }
}

@media  screen and (max-width: 500px) {
    #datos> form> label {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    #nombre, #descripcion, #publiopciones, #dirigido, #categoria{
        width: 100%;
        margin-left: 0;
    }

    #dirigido, #categoria{
        text-align: center;
    }
    div#publiopciones {
        text-align: center;
    }

    #inscripcion, #realizacion{
        margin-top: 30px;
    }
}